*
{
    color: white;
}
#C{
    color: linear-gradient(#e66465, #a86bf2);

}
#a1{
    color: rgb(255,201,71);
}
#r{
    color: rgb(71,176,254);
}
#a2{
    color: rgb(255,72,79);
}
/* TEST */

body {
    padding-top: 60px;
    background-color: rgb(35,33,33);

}
.button:hover{
    /* background: linear-gradient(, );*/
    --x: 100%;
    box-shadow: 0 0 20px #eee;
}
.tableParag:nth-child(odd) {
    background-color: rgba(195,177,225,0.2) !important;
}
#spanA{
    background-color: white !important;
    position: absolute;
    left: 0;
    color : white !important;
    z-index: 0;
    width:113px;
    height: 38px;
    transition : all 0.5s linear;
}
#spanC{
    color: white;
    z-index: 1;
    position: absolute;
    transition : all 0.5s linear;
}

#baliseb{
    position: relative;
}

/* Un peu d'accessibilité */
input:focus
{
    outline: 6px solid #A86BF2FF !important;
    font-size: larger;
    font-weight: bold;
}
textarea:focus
{
    outline: 6px solid #A86BF2FF !important;
    font-size: larger;
    font-weight: bold;
}
select:focus
{
    outline: 6px solid #A86BF2FF !important;
    font-size: larger;
    color: black !important;
    font-weight: bold;
}
option
{
    background-color: #E09B9CFF !important;
    font-size: larger;
    color: black !important;
    font-weight: bold;
}

.image
{
    width : 50%;
    height : 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    border: 1px solid white;
    table-layout: fixed;
    width: 100%;
    text-align:center;
  }
  
  th, td {
    border: 1px solid white;
    padding:2%;
  }

#footer {
    border-top: 1px solid #ccc;
    text-align: center;
    background:#ccc;
    position:fixed !important;
    bottom:0;
}
hr{
    height: 3px;
    background-color: white;
    border: none;
}
#bleu{
    height:20px;
    width: 20px;
    background-color: blue;
    margin:0;
    margin-top: 3px;
}
#orange {
    height:20px;
    width: 20px;
    background-color: #FF750B;
    margin:0;
    margin-top: 4px;
}
#vert {
    height:20px;
    width: 20px;
    background-color: #00B87B;
    margin:0;
    margin-top: 4px;
}
#orange_clair{
    height:20px;
    width: 20px;
    background-color: #F5B26A;
    margin:0;
    margin-top: 3px;
}
#rose{
    height:20px;
    width: 20px;
    background-color: #FF2CFF;
    margin:0;
    margin-top: 3px;
}
#rouge{
    height:20px;
    width: 20px;
    background-color: #FF3C3A;
    margin:0;
    margin-top: 3px;
}

  