body {
    background-color: rgb(35,33,33);
}
*
{
    color: white;
}
.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#C{
    color: linear-gradient(#e66465, #a86bf2);

}
#a1{
    color: rgb(255,201,71);
}
#r{
    color: rgb(71,176,254);
}
#a2{
    color: rgb(255,72,79);
}
